<a id="1.1"></a>
<h2 style="font-family:arial;text-align:center; font-size: 40px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color:lightblue; background-color: #ffffff;"> <b>HDIP DATA ANALYTICS</b></h2>

<div style="padding:20px;color:white;margin:0;font-size:35px;font-family:arial;text-align:center;display:fill;border-radius:5px;background-color:lightblue;overflow:hidden"><b>MACHINE LEARNING FOR BUSINESS | SEM 2</b></div>

Lecturer(s): Dr. Muhammad Iqbal

Issue Date: 14th September 2023

Submission Deadline Date: 5th November 2023

Students: **_BÃ¡rbara Abreu Costa 2023099_** | **_Juliana Cristina da Cunha Brum 2023021_** 

GitHub Repository: https://github.com/JulianaCBrum/MACHINE-LEARNING-

-----

<a id="1"></a>
# <p style="padding:10px;background-color:lightblue;margin:0;color:white;font-family:arial;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">FLIGHT PRICE</p>

**_Quick overview of our dataset_**

> This is a dataset found on Kaggle that contains informations about flight booking options avaiable through the website Easymytrip for flights between the top 6 metropolises in India. Data had been collected in two stages: for business calss ticket and for economy class ticket. The site provided a total 300.261 unique fligh booking possibilities, from February 11 to March 31 of 2022.

<a id="1"></a>
# <p style="padding:10px;background-color:lightblue;margin:0;color:white;font-family:arial;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">DICTIONARY</p>

|STT | ATTRIBUTE NAME | MEANING |
|:---| :--- |:--- |
| 0 | Date
| 1 | Airline | The name of the airline company is stored in the airline column. It is a categorical feature having 6 different airlines.
| 2 | Flight | Flight stores information regarding the plane's flight code. It is a categorical feature.
| 3 | Source City | City from which the flight takes off. It is a categorical feature having 6 unique cities.
| 4 | Departure Time |This is a derived categorical feature obtained created by grouping time periods into bins. It stores information about the departure time and have 6 unique time labels.
| 5 | Stops | A categorical feature with 3 distinct values that stores the number of stops between the source and destination cities.
| 6 | Arrival Time | This is a derived categorical feature created by grouping time intervals into bins. It has six distinct time labels and keeps information about the arrival time.
| 7 | Destination City | City where the flight will land. It is a categorical feature having 6 unique cities.
| 8 | Class | A categorical feature that contains information on seat class; it has two distinct values: Business and Economy.
| 9 | Duration | A continuous feature that displays the overall amount of time it takes to travel between cities in hours.
| 10 | Days Left | This is a derived characteristic that is calculated by subtracting the trip date by the booking date.
| 11 | Price | Target variable stores information of the ticket price.

-----

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

##### Undertanding our data

In [2]:
df_business = pd.read_csv('business.csv')

In [4]:
df_business.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,11-02-2022,Air India,AI,868,18:00,Delhi,02h 00m,non-stop,20:00,Mumbai,"25,612"
1,11-02-2022,Air India,AI,624,19:00,Delhi,02h 15m,non-stop,21:15,Mumbai,"25,612"
2,11-02-2022,Air India,AI,531,20:00,Delhi,24h 45m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:45,Mumbai,"42,220"
3,11-02-2022,Air India,AI,839,21:25,Delhi,26h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,23:55,Mumbai,"44,450"
4,11-02-2022,Air India,AI,544,17:15,Delhi,06h 40m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,23:55,Mumbai,"46,690"

In [5]:
df_economy = pd.read_csv('economy.csv')

In [6]:
df_economy.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,11-02-2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
1,11-02-2022,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953"
2,11-02-2022,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956"
3,11-02-2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
4,11-02-2022,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955"

In [ ]:
df.shape

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

> To ensure data quality and avoid misleading or redundant information, I'll dropping duplicate rows

In [ ]:
df.duplicated().sum()

Some columns are irrelevant for our analysis, so I am going to drop them.

In [ ]:
df1 = df.drop(['ch_code', 'num_code', 'dep_time', 'stop', 'arr_time'], axis=1)
df1.head()

##### Top 5 Airline by count

In [ ]:
value_counts = df1['airline'].value_counts()
print(value_counts)

    We have only two airlines in the dataset: Vistara and Air India

In [ ]:
# Calculate value counts
value_counts = df1['airline'].value_counts()

# Plot the value counts
value_counts.plot(kind='bar', color='skyblue')
plt.title('Airlines')
plt.xlabel('Airlines')
plt.ylabel('Count')
plt.show()

In [ ]:
from_counts = df1['from'].value_counts()
to_counts = df1['to'].value_counts()

# Create a grouped bar chart
fig, ax = plt.subplots()
bar_width = 0.35
index = range(len(from_counts))

rects1 = ax.bar(index, from_counts, bar_width, label='From', color='skyblue')
rects2 = ax.bar(index, to_counts, bar_width, label='To', color='lightgreen', alpha=0.7)

ax.set_xlabel('Locations')
ax.set_ylabel('Counts')
ax.set_title('Counts of "From" and "To" Locations')
ax.set_xticks(index)
ax.set_xticklabels(from_counts.index)
ax.legend()

plt.show()

##### Prices distribuition

In [ ]:
sns.displot(df1['price'],color='green',kde=True)

In [ ]:
df1.head()

In [ ]:
# Plot the data present in the dataframe
df1.info()

##### Analysing the correlation between flight duration and price

In [ ]:
def dur_conv(duration):
    dur_split = re.split('[:]', duration)
   
    dur_in_min = 0
    
    for dur in range(0,len(dur_split)):
        if dur_split[dur] != "":
            if dur == 0:
                dur_in_min = int(dur_split[dur]) * 60
            elif dur == 1:
                dur_in_min = dur_in_min + int(dur_split[dur])
    return dur_in_min

In [ ]:
import regex as re

df["arr_time"] = df["arr_time"].apply(dur_conv)

plt.figure(figsize=(15,5))
sns.scatterplot(x="arr_time", y="price", data=df)
plt.show()

In [ ]:
df_new = df.drop_duplicates()

##### Convert remaining "categorical" values to "numerical" values

In [ ]:
from sklearn.preprocessing import LabelEncoder
lab_enc = LabelEncoder()

In [ ]:
df_new["airline"] = lab_enc.fit_transform(df["airline"])
df_new["from"] = lab_enc.fit_transform(df["from"])
df_new["to"] = lab_enc.fit_transform(df["to"])
df_new["date"] = lab_enc.fit_transform(df["date"])

In [ ]:
df_new.head()

<a id="1"></a>
# <p style="padding:10px;background-color:lightblue;margin:0;color:white;font-family:arial;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">BARBARA'S APPROCHE</p>

> Since my partner choce to focusing on 'time series' analysis I decided to applied clustering.
>
> Between the avaibles features in our dataset such as 'airline', 'from' and 'to' I will experiment differents combiantions to see what yields can be the most meaningful cluster

Applying Clustering on the 'from' column

In [ ]:
from_counts = df['from'].value_counts()
print(from_counts)

In [ ]:
columns_to_drop = ['date', 'airline', 'ch_code', 'num_code', 'dep_time', 'time_taken', 'stop', 'arr_time', 'to', 'price']
df_cluster = df.drop(columns=columns_to_drop)

**CLUSTERING**

In [ ]:
df_cluster = pd.get_dummies(df_cluster, columns=['from'])

In [ ]:
print(df_cluster.head())

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3, random_state=0)
df_cluster['cluster'] = kmeans.fit_predict(df_cluster)

In [ ]:
print(df_cluster.head())

In [ ]:
from sklearn.metrics import silhouette_score
X = df_cluster.drop(columns=['cluster'])
silhouette_avg = silhouette_score(X, df_cluster['cluster'])
print(f"The average silhouette_score is: {silhouette_avg}")

# Checking the full dataset with both classes - business & economy

In [ ]:
df2 = pd.read_csv('all_classes.csv')

In [ ]:
df2.head()

In [ ]:
df2.tail()

In [ ]:
df2.shape

In [ ]:
df2.duplicated().sum()

In [ ]:
df2['airline'].value_counts()

> Create a pieplot of rhe airline companies to show which has the most number of flights

In [ ]:
import matplotlib.pyplot as plt

value_counts_series = df2['airline'].value_counts()
value_counts_series.plot.pie(autopct='%1.1f%%', startangle=90, figsize=(8, 8))
plt.title('AIRLINE DISTRIBUTION', fontsize=20)

plt.show()

In [ ]:
df2['class'].value_counts()

In [ ]:
plt.title('CLASS')
round(df2['class'].value_counts()/df2.shape[0]*100,2).plot.pie(autopct = "%1.2f%%")

In [ ]:
df2['stops'].value_counts()

In [ ]:
df2['stops'].replace('one', '1', inplace=True)
df2['stops'].replace('zero', '0', inplace=True)
df2['stops'].replace('two_or_more', '2', inplace=True)

In [ ]:
sns.barplot(data = df2 ,x = "stops" ,y="price")

> The plot above shows that the single stop has the most expensives prices

In [ ]:
df2['source_city'].value_counts()

In [ ]:
import matplotlib.pyplot as plt

value_counts_series = df2['source_city'].value_counts()
value_counts_series.plot(kind='bar', figsize=(10, 6))


plt.xlabel('SOURCE CITY')
plt.ylabel('COUNT OF FLIGHTS')
plt.title('SOURCE CITY DISTRIBUTION', pad=20, fontsize=20)
plt.xticks(rotation=0)

plt.show()

In [ ]:
sns.displot(df2['price'],color='green',kde=True)

# 24/10 - BARBARA

In [ ]:
df2=df2.drop('Unnamed: 0', axis=1)

In [ ]:
df2=df2.drop('flight', axis=1)

In [ ]:
cat_cols = list(df2.select_dtypes(include=['object']).columns)
print(f"Number of categorical columns: {len(cat_cols)}")
print(f"Categorical columns:\n{cat_cols}")

# Performing target encoding for all categorical variables:

In [ ]:
pip install category_encoders

In [ ]:
import category_encoders as ce

te = ce.TargetEncoder(cols=cat_cols)
df2 = te.fit_transform(df2, df2['price'])

In [ ]:
df2

In [ ]:
numeric_cols = df2.select_dtypes(include=['float64', 'int64']).columns.tolist()
print(numeric_cols)

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import os
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

# Scaling

In [ ]:
# Min Max Scaler: transformation of data

names = df2.columns
indexes = df2.index
sc = MinMaxScaler((0, 1)) #between 0 and 1 range
df2 = sc.fit_transform(df2)
data_scaled = pd.DataFrame(df2, columns=names, index=indexes)
data_scaled.head()

In [ ]:
y = data_scaled['price']
X_data = data_scaled.drop(['price'], axis=1)

## FEATURE ENGINEERING

**1. Pearson Correlation**

> Pearson's correlation coefficient serves as a valuable tool in feature engineering for discerning and isolating the most pertinent attirbutes for machine learning model. We can assess the linear relationship between each feature and the target variable by computing the Pearson's correlation coefficient, which also allows us to identify the characteristics that are most effective at predicting the target variable.

In [ ]:
plt.figure(figsize=(25,10))
cor = data_scaled.corr()
sns.heatmap(cor, annot=True, cmap=plt.cm.Reds)
plt.show()

    Correlation with target variable price

In [ ]:
cor_target = abs(cor["price"])

relevant_features = cor_target
relevant_features

> According to Pearsons correlation, our top 4 relevant features are: class, airline, stops and duration.

**2 . Kbest Selection**

> The goal of the feature engineering approach known as KBest feature selection is to choose the k most crucial features from a dataset based on some statistical parameter. By choosing just the most informative features, this strategy seeks to minimize the dataset's dimensionality, which can enhance the effectiveness of some machine learning models and lessen overfitting.
> 
> KBest feature selection selects the top k features with the highest scores after rating the features using a statistical measure, such as the chi-squared test, mutual information, or f-score. The particular measure employed depends on the data type and the issue at hand.

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif

selector = SelectKBest(f_classif, k=4)
X_important = selector.fit_transform(X_data, y)

# Get a boolean mask of the selected features
mask = selector.get_support()

# Create a list of the selected feature names
important_feature_names = X_data.columns[mask]

print(important_feature_names)

> According to Kbest Features, our most important features are 'airline', 'source_city', 'destination_city', and 'class'.

> ML 1 - segmentacao

> ML 2 - linear regression
> preco Ã© variavel resposta
>
> periodo do dia - transf em numerica (usar como descritiva)
>
> numero de stops
>

<a id="1"></a>
# <p style="padding:10px;background-color:lightblue;margin:0;color:white;font-family:arial;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">REFERENCES</p>

(TO EDIT LATER)
! add here all the refereces you have used

Dataset: 
https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction